<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos</h1>
    {% for todo in todos %}
        <li>{{todo}}</li>
    {% endfor %}

    <form method="POST">
        {{ template_form.hidden_tag() }}
        <p>
            {{ template_form.todo.label }}
            {{ template_form.todo() }}
        </p>
        <p>
            {{ template_form.submit() }}
        </p>
    </form>
</body>
</html>